body {
    border-top: 3px solid #08b5e5;
    font-family: "Merriweather", Georgia, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    background: white;
    color: #555555;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
   
}

.page-wrapper {
    padding: 0 20px;
    margin: 0 auto;
    width: 720px; }
    @media screen and (max-width: 766px) {
    .page-wrapper {
    width: auto; } 
  }

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
