            <section class="posts-list">
                <h2>Recent posts</h2>
                <ul>
$body$
                </ul>
                <h3>→ <a href="./posts.html">All posts</a></h3>
                <h2>Posts series</h2>
                <ul>
                    <li><a href="./tags/kansai.html">Kansai</a></li>
                    <li><a href="./tags/work.html">Work</a></li>
                    <li><a href="./tags/haskell.html">Haskell</a></li>
                </ul>
            </section>
